@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header,
.hero,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    padding: 16px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

nav {
    display: flex;
    gap: 24px;
}

.hero .container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    padding: 90px 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
}

.info {
    padding: 48px 90px 90px;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 48px;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.card img {
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

.quotes .container {
    margin: 0 auto;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: oblique;
    max-width: 780px;
}

.quote p {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
    padding: 0 40px;
}

.cta .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 125px;
    background-color:#3882F6;
    color:#E5E7EB;
    border-radius: 15px;
    padding: 45px 80px;
    margin: 90px auto;
}

.cta-content {
    display: flex;
    flex-direction: column;
}

.cta h3 {
    font-size: 24px;
    font-weight: 900;
}

.cta p {
    font-size: 18px;
    font-weight: 300;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    max-width: 150px;
    max-height: 45px;
    padding: 8px 32px;
    border-radius: 15px;
    border: none;
}

.cta button {
    align-self: center;
    border: 2px solid #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}